<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_laun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laun"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoveCuteY">

        <!-- TODO replace YOUR_APP_ID with actual value -->
        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="209689506" />

        <activity
            android:name=".NotifyVerify"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VerifySDK"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrimeiraVez"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MatchesActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracoesActivity"
            android:exported="false" />
        <activity
            android:name=".ListUsersActivity"
            android:exported="true" />
        <activity
            android:name=".registerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.logiActivity"
            android:exported="true" />

        <receiver android:name=".BootCompletedIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".PushNotificationService"/>

        <service
            android:name=".PushNotificationFirebase"
            android:exported="false">
            <intent-filter>
                <action android:name="con.google.firebase.MENSSAGIN_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>